/* .app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
} */
.spreadsheet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
}
/* .spreadsheet {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
} */

.row {
  display: flex;
}

.cell {
  border: 1px solid #ccc;
  width: 60px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
}

.cell:focus {
  outline: none;
  border: 2px solid #0078D7;
}

.toolbar {
  margin-bottom: 10px;
}
